---
layout: master
---

<div id="leaders_list">
	<h3>Group</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/mike">Mike (GSL)</a></li>
		<li><a href="{{ site.basedomain }}/leaders/alan">Alan (Secretary)</a></li>
		<li><a href="{{ site.basedomain }}/leaders/">TODO (Treasurer)</a></li>
	</ul>

	<h3>Scouts</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/">Simon</a></li>
		<li><a href="{{ site.basedomain }}/leaders/">Mark</a></li>
		<li><a href="{{ site.basedomain }}/leaders/">Rachel</a></li>
		<li><a href="{{ site.basedomain }}/leaders/kanga">Kanga</a></li>
		<li><a href="{{ site.basedomain }}/leaders/roo">Roo</a></li>
	</ul>

	<h3>Cubs</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/akela">Akela</a></li>
		<li><a href="{{ site.basedomain }}/leaders/">Cheryl</a></li>
	</ul>

	<h3>Beavers</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/narla">Narla</a></li>
		<li><a href="{{ site.basedomain }}/leaders/">Chas</a></li>
		<li><a href="{{ site.basedomain }}/leaders/">Rachel's little brothers gf</a></li>
	</ul>

	<h3>Helpers</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/">Vicki</a></li>
	</ul>
</div>

<div id="leaders_info">
	{{ content }}
</div>

<div class="blocker"></div>
