---
layout: master
---

<div id="leaders_list">
	<h3>Group</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/gsl">GSL</a></li>
	</ul>

	<h3>Explorers</h3>
	<ul>
		<li>None</li>
	</ul>

	<h3>Scouts</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/skip">Skip</a></li>
		<li><a href="{{ site.basedomain }}/leaders/kanga">Kanga</a></li>
		<li><a href="{{ site.basedomain }}/leaders/roo">Roo</a></li>
	</ul>

	<h3>Cubs</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/akela">Akela</a></li>
	</ul>

	<h3>Beavers</h3>
	<ul>
		<li><a href="{{ site.basedomain }}/leaders/narla">Narla</a></li>
		<li><a href="{{ site.basedomain }}/leaders/kanga">Kanga</a></li>
	</ul>

	<h3>Helpers</h3>
	<ul>
		<li>None</li>
	</ul>
</div>

<div id="leaders_info">
	{{ content }}
</div>

<div class="blocker"></div>
