---
layout: master
---
<div id="news_menu">
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/news_updates.png" />
		<a href="{{ site.basedomain }}/news/">News feed</a>
	</span>
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/news_live.png" />
		<a href="{{ site.basedomain }}/news/live/">Social feeds</a>
	</span>
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/atomfeed_add.png" />
		<a href="{{ site.basedomain }}/news/feed.rss">RSS Feed</a>
	</span>
</div>

{{ content }}
