---
layout: master
---
<div id="news_menu">
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/news_updates.png" />
		<a href="{{ site.basedomain }}/news/">Updates</a>
	</span>
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/news_categories.png" />
		<a href="{{ site.basedomain }}/news/categories/">Categories</a>
	</span>
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/news_live.png" />
		<a href="{{ site.basedomain }}/news/live/">Live</a>
	</span>
	<span>
		<img alt="" src="{{ site.basedomain }}/assests/theme/images/atomfeed_add.png" />
		<a href="{{ site.basedomain }}/news/feed.rss">Subscribe</a>
	</span>
</div>

{{ content }}