---
layout: master
---
<p><a href="{{ site.basedomain }}/news/categories/">Categories</a> | <a href="{{ site.basedomain }}/news/">News</a></p>
<div class="post">
	<div class="post-date">Posted by {% if page.author_url %}<a href="{{ site.basedomain }}/leaders/{{ page.author_url }}">{% endif %}{{ page.author }}{% if page.author_url %}</a>{% endif %} on {{ page.date | date_to_string }}</div>
	{{ content }}
</div>

<div id="comments">
	{% like_buttons %}
	<div id="disqus_thread"></div>
</div>

<script type="text/javascript">
    /* Load up disqus */
    var disqus_shortname = '7tharochdale';
    var disqus_identifier = '{{ page.url }}';
    var disqus_url = '{{ site.basedomain }}/{{ page.url }}';
    (function() {
	    var dsq = document.createElement('script');
	    dsq.type = 'text/javascript';
	    dsq.async = true;
	    dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';

	    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
