* {
	margin: 0px;
	padding: 0px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
}

body {
	background-color: #F8F8F8;
}

h3, h4, h5, h6 {
	margin-bottom: 2px;
	margin-top: 5px;
}

#faq_list h4 {
	padding-top: 3px;
}

#header {
	width: 900px;
	height: 200px;
	margin: 0 auto;
	
	background-color: #FFFFFF;
	background-image: url('../images/header.png');
	background-position: left center;
	background-repeat: no-repeat;
}

#header_text {
	padding-top: 10px;
	padding-left: 15px;
}

#menu {
	width: 900px;
	height: 35px;
	margin: 0 auto;
}

#content_holder {
	width: 900px;
	margin: 0 auto;
}

#main_content {
	width: 900px;
	background: #FFFFFF;
}

#footer {
	width: 900px;
	height: 110px;
	margin: 0 auto;
	margin-top: 5px;

	background-color: #522e91;
}

a {
	color: #522e91;
}

a:hover {
	color: #86A20B;
}

#faq_list p {
	margin-top: 2px;
	padding: 5px;
}

#faq_list a {
	color: #000000;
}

#comments {
	margin-top: 5px;
}

#disqus_thread {
	display: block;
}

div.post {
	border: 1px dotted #000000;
	padding: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

div.post-date {
	font-size: 12px;
	margin-top: 2px;
	margin-bottom: 2px;
}

div#left_menu {
	float: left;
	width: 150px;
	overflow: hidden;
}

div#right_content {
	float: left;
	width: 746px;
	overflow: hidden;
}

div#left_menu ul li {
	margin-left: 10px;
	margin-bottom: 5px;
}

table#contact_details {
	width: 100%;
	margin: 5px;
}

table#contact_details tr td, table#contact_details tr th {
	text-align: left;
	width: 25%;
	padding-bottom: 2px;
}

div.tweet_block {
	float: left;
	margin-right: 20px;
}
